html{
    font-size: 0.8rem;
}
.website_discussion_forum {
    #wrap{
        table.table.table-bordered.forum_display_layout_cl{
            table-layout: auto;
        }
    }
}
.oe_inline_follow_button{
    display: inline-flex;
    line-height: 30px;
    align-items: center;
    vertical-align: middle;
    height: 30px;
    float: right;
    margin-right: 5px;
    a,button{
        color:white;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 14px;
        &:hover, &:focus, &:active{
            color: white;
            text-decoration: underline;
        }
    }
}
@media(max-width: 768px){
    .forum_list_navbar{
        .o_searchbar_form{
            width: 100%;
        }
    }
    #forum_post_list_main.table > :not(caption) > * > *{
        padding: 1px 1px 1px 2px;
    }
    #forum_post_list_main.table > tbody > tr{
        border-top: 6px solid;
        border-color: o-color('primary');
        border-bottom-color: o-color('primary');
    }
    #forum_post_list_main.table > tbody > tr > td:first-child{
        padding-top: 5px;
    }
    #forum_post_list_main.table > tbody > tr > td:last-child{
        padding-bottom: 5px;
    }
    #forum_post_list_main.table > tbody > tr:last-child{
        border-bottom: 6px solid;
        border-bottom-color: o-color('primary');
    }
}
.post_grid_main_cl{
    .grid_item_sub{
        padding: 9.6px;
        &.gdpost_info{
            padding: 0px;
        }
        .grid_item_sub_item_grid{
            display: grid;
            grid-template-columns: 1.5fr 1fr 2fr;
            .grid_item_sub_under{
                padding: 9.6px;
                border:1px solid;
            }
        }
        .main_thread_containt{
            padding: 9.6px;
        }
    }
}
@media(max-width: 768px){
    .post_grid_main_cl .grid_item_sub .grid_item_sub_item_grid{
        grid-template-columns: 1fr;
    }
    .post_grid_main_cl .grid_item_sub{
        .o_searchbar_form{
            width: 93%;
            margin-bottom: 10px;
        }
    }
}